.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
}
.container h1 {
  font-family: 'Roboto', sans-serif;
  color:  #661fe0;
}
.logo {
  color: #333;
}
.container p {
  font-weight: bold;
}
.container .retbranche {
  background-color: #333;
  padding: 25px;
  color: #333;
  text-decoration: none;
}
.container .retbranche:hover {
  background-color: #595959;
}
.container .retbranche strong {
  color: #FEBA00;
}
.container .retbranche em {
  color: #f2f2f2;
  background-color: #00001a;
  padding: 5px;
  margin-left: 3px;
}
.container .retbranche .academy {
  color: black;
  background-color: #FEBA00;
  padding: 5px;
}
.container .oriflame {
  font-family: 'Roboto', sans-serif;
  background-color: #bad405;
  padding: 25px;
  color: #333;
  text-decoration: none;
}
.container .oriflame:hover {
  background-color: #f0fc9c;
}
.container .buy-me {
  font-family: 'Roboto', sans-serif;
  background-color: #009cdd;
  padding: 25px;
  color: #ffffff;
  text-decoration: none;
}
.container .buy-me:hover {
  background-color: #00b3ff;
  color: #ffffff;
}
.container .usdt {
  background-color: #003285;
  padding: 25px;
  color: #f2f2f2;
  text-decoration: none;
}
.container .usdt:hover {
  background-color: #004ecc;
}
.show {
  display: block;
  background-color: #99c2ff;
  padding: 25px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
.removeEl, .removeEl p {
  display: none;
}
.retbranche, .oriflame, .buy-me, .show, .usdt {
  margin-bottom: 5px;
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  * {
    font-size: 14px;
  }
  .container h1 {
    font-size: inherit;
    margin-bottom: 30px;
  }
  .show p {
    width: 100%;
  }
  .logo img {
    width: 50px;
    height: auto;
  }
  .retbranche em,.retbranche strong  {
    font-size: 11px;
  }
}
