.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: solid 1px #333;
  border-radius: 10px; */
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.container h1 {
  font-family: 'Roboto', sans-serif;
}
.container .retbranche {
  background-color: #333;
  padding: 25px;
  color: #333;
  text-decoration: none;
}
.container .retbranche strong {
  color: #FEBA00;
}
.container .retbranche em {
  color: #f2f2f2;
  background-color: #00001a;
  padding: 5px;
  margin-left: 3px;
}
.container .retbranche .academy {
  color: black;
  background-color: #FEBA00;
  padding: 5px;
}
.container .oriflame {
  font-family: 'Courgette', cursive;
  background-color: #bad405;
  padding: 25px;
  color: #333;
  text-decoration: none;
}
.container .buy-me {
  font-family: 'Courgette', cursive;
  background-color: #009cdd;
  padding: 25px;
  color: #00004d;
  text-decoration: none;
}
.container .usdt {
  background-color: #003285;
  padding: 25px;
  color: #f2f2f2;
  text-decoration: none;
}
.show {
  display: block;
  background-color: #99c2ff;
  padding: 25px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
.removeEl, .removeEl p {
  display: none;
}
.retbranche, .oriflame, .buy-me, .show, .usdt {
  margin-bottom: 5px;
  border-radius: 10px;
}
